<div class="mainInfo_footer">
    <div class="footer-title">ПЕРЕМОТКА</div>
    <div class="links">
        <h4>Контактная информация</h4>
        <p class="footer-link">Организация концертов</p>
        <a class="footer-link" href="https://vk.com/djimago">https://vk.com/djimago</a>
        <p class="footer-link">по остальным вопросам</p>
        <p class="footer-link">gena.volgarev@yandex.ru</p>
    </div>
    <div class="contacts">
        <h4>Быстрые ссылки</h4>
        <a class="footer-link" href="/">Новости</a>
        <a class="footer-link" href="/concerts">Концерты</a>
        <a class="footer-link" href="/group">Группа</a>
        <a class="footer-link" href="/clips">Клипы</a>
        <a class="footer-link" href="/links">Ссылки</a>
    </div>
</div>