<div class="header">
    <div class="container">
        <a class="descr" href="{% url 'home' %}">ПЕРЕМОТКА</a>
        <div class="descr_main">
            <a class="descr_main-href" href="{% url 'home' %}">НОВОСТИ</a>
            <a class="descr_main-href" href="{% url 'concerts' %}">КОНЦЕРТЫ</a>
            <a class="descr_main-href" href="{% url 'group' %}">ГРУППА</a>
            <a class="descr_main-href" href="{% url 'clips' %}">КЛИПЫ</a>
            <a class="descr_main-href" href="{% url 'links' %}">ССЫЛКИ</a>
        </div>
    </div>
</div>