{% extends 'base.html' %}


{% block title %}Ссылки{% endblock %}


{% block content %}

    <div class="mainInfo_links">

        <a class="links-href"
           href="https://www.youtube.com/channel/UCe-Du7YVgM4b7GtF0PFgu2Q?view_as=subscriber">YouTube:
            vk.cc/augQgs</a>
        <a class="links-href" href="https://www.instagram.com/peremotka_band/">Instagram:
            vk.cc/augQUY</a>
        <a class="links-href" href="https://www.spotify.com/int/why-not-available/">Spotify:
            vk.cc/awYFj9</a>
        <a class="links-href" href="https://music.yandex.ru/artist/5373532">Яндекс.Музыка:
            vk.cc/augR7n</a>
        <a class="links-href" href="https://peremotka.bandcamp.com/">Bandcamp: vk.cc/augRtK</a>
        <p class="links-href">Организация концертов</p>
        <a class="links-href" href="https://vk.com/djimago">https://vk.com/djimago</a>
        <p class="links-href">по остальным вопросам</p>
        <p class="links-href">gena.volgarev@yandex.ru</p>
    </div>

{% endblock %}